* {
	font-family: 'Baloo Tamma 2', cursive;
	font-family: 'Baloo Bhaina 2', cursive;
	font-family: 'Montserrat', sans-serif;

	padding: 0;
	margin: 0;
}

nav {
	display: flex;
	padding: 20px;
	background-color: grey;
	justify-content: center;
}

nav div {
	padding: 0px 10px;
}

a {
	text-decoration: none;
	color: white;
	padding: 5px;
}

a:hover {
	border-bottom: 1px white solid;
}

input {
	margin-left: 20px;
}

body {
	display: flex;
	flex-direction: column;
}

.registerFormBackground {
	align-self: center;
	margin: 50px;
}

.fb {
	color: #ffffff;
	background: rgb(91, 118, 205);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
