:root {
	--dark-color-a: #333333;
	--dark-color-b: rgb(145, 138, 132);
	--light-color: #f0f0f0;
	--grey: #c2c2c2;
	--success-color: #5cb85c;
	--error-color: #d9534f;
	--pop-color: #6aae6a;
	--transparent-grey: rgba(255, 255, 255, 0.5);
}
body {
	margin: 0px;
	font-size: 16px;
	font-family: 'Noto Sans TC', '微軟正黑體', '新細明體', arial, sans-serif;
	color: var(--dark-color-a);
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

a {
	text-decoration: none;
	color: var(--dark-color-a);
}
