.paymentForm {
	display: none;
	background-color: rgba(255, 255, 255, 0.9);
	z-index: 1;
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	justify-content: center;
}

.form-group {
	border: #dfdfdf 1px solid;
	margin: 10px;
	padding: 5px;
}

.form-group label {
	display: inline-block;
	padding: 10px 0 20px 10px;
	margin-right: 15px;
	width: 130px;
	height: 10px;
	border-right: black 1px solid;
}

#exampleInputEmail1 {
	border: none;
}

.text-left {
	text-align: left;
}

.container {
	display: flex;
	background-color: rgba(255, 255, 255);
	position: relative;
	top: 150px;
	box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
	height: 500px;
	padding-bottom: 30px;
}

h1 {
	text-align: center;
	letter-spacing: 4px;
	margin-bottom: 20;
}

.TapPayFrom {
	margin: auto;
	padding: 40px;
	display: flex;
	align-self: center;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}

.form-control {
	display: inline-block;
	height: 20px;
}

input {
	height: 15px;
}

.btn-default {
	background-color: black;
	color: #ffffff;
	padding: 10px;
	margin: 10px;
	letter-spacing: 4px;
}

.tappay-field-focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
		0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
		0 0 8px rgba(102, 175, 233, 0.6);
}

.has-error .tappay-field-focus {
	border-color: #843534;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.has-success .tappay-field-focus {
	border-color: #2b542c;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
