footer {
	display: flex;
	background-color: var(--light-color);
	color: #333333;
	padding: 20px;
	justify-content: center;
}

footer .footerView {
	display: flex;
	align-items: center;
}

.footerView .link {
	display: flex;
	height: 20px;
}

.footerView .link .item {
	padding: 0 20px 0 10px;
	border-right: var(--dark-color-a) 1px solid;
}

.footerView .link-1 div:last-child {
	border-right-width: 0px;
	margin-right: 10px;
}

.social img {
	opacity: 0.3;
	width: 28px;
	height: 28px;
	margin: 0 2px;
}

.copyright {
	color: #828282;
	margin-left: 30px;
}

.tpfield {
	height: 40px;
	width: 300px;
	border: 1px solid gray;
	margin: 5px 0;
	padding: 5px;
}
