header {
	padding: 10px 15px;
	margin-bottom: 10px;
	width: 100%;
	display: flex;
	height: 80px;
	align-items: center;
}

.logo {
	width: 150px;
	margin-left: 30px;
	padding: 5px;
}

.logo img {
	width: auto;
	height: 30px;
}

nav {
	display: flex;
}

nav > div {
	padding-left: 3rem;
	width: 6.25rem;
	height: 1.75rem;
	font-size: 1.25rem;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 30px;
	text-align: left;
	color: var(--dark-color-a);
}

nav > div > a {
	text-decoration: none;
	color: var(--dark-color-a);
}

nav > div > a:hover {
	color: #8b572a;
}

.mobileNav .tag {
	display: none;
}

.member {
	cursor: pointer;
}

.feature .cart {
	width: 44px;
	height: 44px;
	background-image: url('https://s3-ap-northeast-1.amazonaws.com/white-100.online/MUJI/images/cart.png');
	background-repeat: no-repeat;
	background-size: 44px 44px;
	background-position: center center;
}

.feature {
	display: flex;

	margin-right: 5px;
	width: 100%;
}

.feature form {
	display: flex;
	width: 80%;
}

.feature input.search:focus {
	background-color: transparent;
	outline: none;
}

.feature input.search:autofill {
	background-color: transparent;
}

.feature input.search {
	width: 100%;
	margin-right: 20px;
	padding: 10px;
	border: 1px solid #979797;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-size: 40px 40px;
	background-position: 98% center;
	position: relative;
	z-index: 1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition-delay: 99999s;
	transition: color 99999s ease-out, background-color 99999s ease-out;
}

#keywordSearchBtn {
	position: absolute;
	z-index: 1;
	display: inline-block;
	border: transparent;
	background-color: transparent;
	background-position: center;
	width: 28px;
	height: 28px;
	outline: none;
	background-image: url('https://s3-ap-northeast-1.amazonaws.com/white-100.online/MUJI/images/search.png');
	cursor: pointer;
	background-size: cover;
	top: 8px;
	right: 30px;
	border-left: 1px solid var(--dark-color-b);
}

input:-webkit-autofill {
	background-color: transparent;
}

.item {
	margin-left: 8px;
	position: relative;
}

.bar {
	background-color: var(--dark-color-a);
	height: 20px;
	width: 100%;
}

.tagBorder {
	border-right: var(--dark-color-a) 1px solid;
}

.qty {
	letter-spacing: 1px;
	text-align: center;
	background-color: var(--dark-color-a);
	font-weight: bold;
	border-radius: 50%;
	color: var(--white-color);fff;
	opacity: 0.8;
	font-size: 0.8em;
	width: 24px;
	height: 24px;
	line-height: 24px;
	margin-left: 20px;
	margin-top: 20px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
