.float {
	transform: translatey(5px, 0deg);
	animation: float 1s ease-in-out infinite;
	-webkit-transform: translatey(5px, 0deg);
	-moz-transform: translatey(5px, 0deg);
	-ms-transform: translatey(5px, 0deg);
	-o-transform: translatey(5px, 0deg);
	-webkit-animation: float 1s ease-in-out infinite;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.452);
}

@keyframes float {
	0% {
		transform: translatey(0px);
		-webkit-transform: translatey(0px);
		-moz-transform: translatey(0px);
		-ms-transform: translatey(0px);
		-o-transform: translatey(0px);
	}
	50% {
		transform: translatey(-5px);
		-webkit-transform: translatey(-5px);
		-moz-transform: translatey(-5px);
		-ms-transform: translatey(-5px);
		-o-transform: translatey(-5px);
	}
	100% {
		transform: translatey(0px);
		-webkit-transform: translatey(0px);
		-moz-transform: translatey(0px);
		-ms-transform: translatey(0px);
		-o-transform: translatey(0px);
	}
}
